* {
    box-sizing: border-box;
  }

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/550/114/original/vector-abstract-geometric-form-pattern-chaotic-flow-figure-background.jpg);
    font-family: 'Prompt', sans-serif;
    color: #333333;
}

h1{
    text-align: center;
    color: #333333;
    text-decoration: solid underline;
}

form{
    margin: 30px;
    border: 5px solid yellowgreen;
    border-radius: 20px;
    padding: 2%;
    font-family: 'Prompt', sans-serif;
}

.error{
    display: flex;
    align-items: center;
    visibility: visible;
    color: red;
    font-size: 15px;
}

.names_container{
    display: grid;
    grid-template-columns: repeat(2,40%) 20%;
    column-gap: 15px;
    justify-content:space-between;
    margin-left: 10px;
    margin-right: 1.5%;
    padding: 1%;
    font-size: 25px;
}

.names_container:hover{
    box-shadow: 2px 2px 10px rgba(219, 134, 7, 0.948);
}

.names_container input{
    border: 3px solid burlywood;
    background-color:rgba(248, 229, 166, 0.959);
    border-radius: 20px;
    margin: 6px;
    width: 350px;
    padding: 10px;
    height: fit-content;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
}

#name_error{
    visibility: hidden;
}

.form_item{
    display: flex;
    align-items: center;
    margin: 1.5%;
    padding: 0.5%;
    font-size: 25px;
}

.form_item input{
    background-color:rgba(248, 229, 166, 0.959);
    border: 3px solid burlywood;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
    margin: 6px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
}

.gender_grid{
    display: grid;
    grid-template-columns: 100px 200px 200px 200px;
}

.email_grid{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
}

#phone_error{
    visibility: hidden;
}

.phone_grid{
    display: grid;
    grid-template-columns: 0.15fr 0.4fr 0.45fr;
}

.form_item select{
    border: 3px solid burlywood;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    margin: 6px;
    margin-left: 15px;
    text-align: center;
}

.form_item:hover{
    box-shadow: 2px 2px 10px rgba(219, 134, 7, 0.948);
}

.password_grid{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.password_grid input{
    background-color:rgba(248, 229, 166, 0.959);
    border-radius: 20px;
    width: fit-content;
}

#pwd_error{
    visibility: hidden;
}

#cpwd_error{
    visibility: hidden;
}

.user_agreement_container{
    margin: 3px;
    text-align: left;
}

a{
    margin-left: 15px;
    text-align: left;
}

a:hover{
    font-size: 27px;
}

#submit{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#submit_button{
    background-color:rgba(234, 201, 93, 0.959);
    border: 2px solid burlywood;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
}

#submit_button:hover{
    box-shadow: 2px 2px 10px rgba(219, 134, 7, 0.948);
    font-size: 32px;
}
